@model LikeIke.Models.TaskListViewModel

@{
    ViewBag.Title = "Manage Tasks";
    }

<div class="">
    <div class="">
        <h3>Important Tasks</h3>        
    </div>
    <div class="custom_list">
        @for (var i = 0; i < Model.TaskList.Count; i++)
        {

            <div class=" _customTask">

                    <div class="row">    
                        <div class="col-xs-1">
                            <a class=" _customAnchor glyphicon btn @(Model.TaskList[i].Complete? "glyphicon-ok btn-success":"glyphicon-unchecked btn-danger")" data-toggle="modal" href="@("#CompleteTaskModal"+i)"></a>
                        </div>
                        <div class="col-xs-11">
                            <a class="_customAnchor" data-toggle="collapse" href="@("#CollapsedBtn"+i)">@Model.TaskList[i].TaskName</a>
                            <div id="@("CollapsedBtn"+i)" class="collapse">
                                <div class="">
                                    @Html.ActionLink("Review Details", "TaskDetail", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-info" })
                                    @Html.ActionLink("Edit", "EditTask", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-primary" })
                                    <a class="btn btn-danger" data-toggle="modal" href="@("#DeleteTaskModal" + i)">Delete</a>
                                </div>
                            </div>
                        </div>     
                      
                    </div>
                
                
                    
                    
            </div>
            <hr />
            //MODALS BELOW

            <div id="@("DeleteTaskModal"+i)" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("DeleteTask", "Home"))
                        {
                            <input type="hidden" value="@(Model.TaskList[i].TaskId)" name="TaskId" />

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Task</h4>
                            </div>

                            <div class="modal-body">
                                Are you sure you want to delete @Model.TaskList[i].TaskName task?
                            </div>

                            <div class="modal-footer">
                                @Html.ActionLink("Review", "TaskDetail", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-info" })
                                <button type="submit" class="btn btn-primary">Yes, Delete it</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div id="@("CompleteTaskModal"+i)" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @using (Html.BeginForm("CompleteTask", "Home"))
                        {
                            <input type="hidden" value="@(Model.TaskList[i].TaskId)" name="TaskId" />

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@(Model.TaskList[i].Complete ? "Need to Make Changes to the Task?" : "Nice Job!")</h4>
                            </div>

                            <div class="modal-body">
                                @(Model.TaskList[i].Complete? "Are there any changes you'd like to make?": "Have you completed the task?")
                                
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">@(Model.TaskList[i].Complete?"Yes, Make Changes": "Yes, Completed")</button>
                                @Html.ActionLink("Review", "TaskDetail", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Edit", "EditTask", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-primary" })
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    @*Save Progress: This button will delete tasks that have a mark of complete*@
    <div class="row">
        <span class="col-sm-10"></span>
        <a class="btn btn-success col-sm-2" data-toggle="modal" href="#SaveByDeleteTaskModal">Save Progress</a>
    </div>
    
    <div id="SaveByDeleteTaskModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("SaveByDelete", "Home"))
                {

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save your Progress</h4>
                    </div>

                    <div class="modal-body">
                        Would you like to save your progress? We'll go ahead and delete the tasks you marked compete.
                    </div>

                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary">Yes, I am done.</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Added the ATmodel connection to connect the HomeController with the Index.cshtml page. It is taking the TaskListViewModel which is what is being passed into the view*@
@*Note: passing in the id parameter of the element is important for the methods to be able to connect particular elements from one another.*@